.body{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(192, 213, 232);
    background-repeat: no-repeat;
    background-size: cover;
}

.reg{
    color: rgb(31, 31, 45);
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #333;
    border-collapse: collapse;
    width: 50%; 
    margin: 0 auto;
    border-radius: 5px ;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    }
.container {
    display: flex;
    align-items: center;   /* vertically align items */
    gap: 20px;             /* space between image & text */
    padding: 20px;
}

.container img {
    width: 800px;
    height: 500px;          
    border-radius: 5px;
}
.container2 {
    display: flex;
    align-items: center;   /* vertically align items */
    gap: 20px;             /* space between image & text */
    padding: 20px;
}

.container2 img {
    width: 750px;
    height: 500px;          
    border-radius: 5px;
}


.desc-head1{
    color: #2c2c2c;
    font-family: Arial, Helvetica,  sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
    font-style: italic ;

}
.desc1{
    font-family: Arial, Helvetica,  sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    background-color: beige;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;

}
.desc-head2{
    color: #2c2c2c;
    font-family: Arial, Helvetica,  sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    font-style: italic ;

}
.desc2{
     font-family: Arial, Helvetica,  sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    background-color: beige;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;

}
.marq{
    font-family: Arial, Helvetica,  sans-serif;
    color: #9e1111;
    padding: 10px;
    margin-top: 10px;
    background-color: bisque;
}