input[type="button"] {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px; 
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    height: 60px;
    width: 150px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
input[type="button"]:hover {
    opacity: 0.6;
}
.box {
    width: 300px;
    height: 200px;
    border: 2px solid black;    
    margin-top: 50px;
    margin-left: 100px;

}
.box h1 {
    color: #7d2929;
    position: relative;
    top: 10px;
    left: 30px;
    margin: 10px;
}
.box h2 {
    color: #7d2929;
    position: relative;
    top: 40px;
    left: 40px;
}

.sticky {
    position: relative;
    top: 0;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border: #7d2929 2px solid;
    background-color: bisque;
    
    
}
.sticky h1 {
    color: #7d2929;
    font-size: 30px;
}
.logo {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    position: fixed;      
    bottom: 20px;         
    right: 20px;          
}
.block1{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 40px;
    z-index: index 1;
    }
.block2{
   width: 100px;
   height: 100px;
   background-color: yellow;
   border: 2px solid black;
   position: relative;
   display: inline-block;
   top: 10px;
   left: 40px;
   z-index: index 2;

   }
.block3{
  width: 100px;
  height: 100px;
  background-color: green;
  border: 2px solid black;
  display: inline-block;
  position: relative;
  display: inline-block;
  top: 10px;
  left: 40px;
  z-index: index 3;
  }
.overflow{
  width: 500px;
  height: 100px;
  border: 2px solid black;
  overflow: scroll;
}
.flexbox{
   display: flex;
   flex-direction: row;
   gap: 10px;
   .image1, .image2, .image3, .image4{
   width: 300px;
   height: 150px;
   border: 2px solid black;
}
    }



