a{
    font-size: 20px;
}
marquee{
    background-color: rgb(255, 77, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
}
.about{    
    text-align: justify;
    border: 1px solid white;
    padding: 0px 10px 10px 10px;
    font-size: 25px;
}
.courses{    
    text-align: justify;
    border: 1px solid white;
    padding: 0px 10px 10px 10px;
    font-size: 25px;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: green;
  text-decoration: underline;
}
hr{
    border: 1px solid black;
  border-radius: 5px;
}
form {
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  margin: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}